:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--clr-txt-dark);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --clr-txt-dark: rgba(255, 255, 255, 0.87);
    --clr-txt-light: #213547;

    --clr-light-1: #ffffff;
    --clr-light-2: #f9f9f9;
    --clr-dark-3: #213547;
    --clr-dark-4: #1a1a1a;
    --clr-dark-5: #242424;
}

html, body {
    padding: 0;
    margin: 0;
}
#root {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.15rem;
}
h6 {
    font-size: 1rem;
}

a {
    color: var(--clr-txt-dark);
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--clr-txt-light);
        background-color: #ffffff;
    }
}
