nav {
    width: 5vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.5);
}
nav,
nav * {
    transition: 150ms ease-in-out;
}

/* ===== LOGO =====*/
nav .logo-container {
    width: 100%;
    height: 15vh;
}
nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    mix-blend-mode: screen;

    transform: translateY(-100%);
    opacity: 0;
}

/* ===== OPTIONS =====*/
nav .options {
    margin: auto 0;
    padding: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    list-style: none;
}
nav a {
    padding: 0 1vw;

    width: 100%;
    
    box-sizing: border-box;
    display: flex;
}
nav h2 {
    width: 3vw;

    text-align: center;
}
nav h4 {
    width: 0;
    
    text-align: center;

    transform: translateX(-100%);
    opacity: 0;
}

/* ===== BOTTOM-ROW =====*/
nav .bottom-row {
    margin-top: auto;

    height: 20vh;
    
    display: flex;
    justify-content: space-around;
    align-items: end;

    transform: translateX(-100%);
    opacity: 0;
}
nav .bottom-row button,
nav .bottom-row a {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: transparent;
    border: none;

    cursor: pointer;
}
nav .bottom-row button h6,
nav .bottom-row a h6 {
    margin: 0;
    transform: translateY(200%);
    opacity: 0;
}

/* ===== LOGO ::HOVER =====*/
nav:hover img {
    transform: translate(0);
    opacity: 1;
}

/* ===== OPTIONS ::HOVER =====*/
nav:hover {
    width: 12vw;
}
nav .options a:hover {
    color: var(--clr-acc-dark-700);
}
nav .options a:hover h4 {
    width: 7vw;
    
    transform: translateX(0);
    opacity: 1;
}

/* ===== BOTTOW-ROW ::HOVER =====*/
nav:hover .bottom-row {
    transform: translateX(0);
    opacity: 1;
}
nav .bottom-row button:hover *,
nav .bottom-row a:hover * {
    color: var(--clr-acc-dark-700);
}
nav .bottom-row button:hover h6,
nav .bottom-row a:hover h6 {
    transform: translateY(0);
    opacity: 1;
}