.outside-box {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    backdrop-filter: blur(5px);
}
.content {
    padding: 2%;

    max-height: 80%;
    width: 50%;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

    border-radius: 7px;
    border: 2px solid var(--clr-txt-dark);
    background-color: var(--clr-bg-dark-main);
}
.content.big {
    width: 75%;
    gap: 1vh;
    padding: 2rem;

    overflow: scroll;
}
.content.big.half {
    flex-direction: row;
}
.half {
    padding-right: 1vw;
    padding-bottom: 0;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;

    overflow: scroll;
}
.content.divide {
    width: 100%;
    display: flex;
    gap: 1vw;
}
.content .top {
    gap: 0;
    width: 100%;
}
.content .bottom {
    display: flex;
    width: 100%;
    gap: 0;
}
.content .bottom.single {
    flex-direction: column;
    gap: 1vh;
}
.content .bottom.single .rows-5 {
    width: 100%;
}
.content .bottom.single .new-object {
    justify-content: center;
}
.content .bottom h3 {
    margin-bottom: 0;
}
.content form {
    width: 100%;
}
.content form h4 {
    margin-bottom: 0;
}
.content .layer {
    width: 100%;
}
.content table {
    height: 100%;
}
.content select, .content input {
    width: 100%;
    height: 2rem;
}
.content select {
    width: 60%;
    height: auto;
    max-height: 20vh;
}
select#pos {
    height: 100%;
}
.content h4 {
    margin-bottom: 0;
}
.content .list.rows-5 {
    max-height: 45vh;
}

.new-object {
    display: flex;
    gap: 1vw;
}